<div class="container px-5 px-sm-0">
  <h2><%= @customer.name_family %><%= @customer.name_first %>さんの会員詳細</h2>
  <div class="row">
    <table class="table table-borderless">
      <tbody>

        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>

        <tr>
          <td>氏名</td>
          <td><%= @customer.name_family %>　<%= @customer.name_first %></td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td><%= @customer.name_kana_family%>　<%= @customer.name_kana_first %></td>
        </tr>

        <tr>
          <td>郵便番号</td>
          <td><%= @customer.post_code %></td>
        </tr>

        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>

        <tr>
          <td>会員ステータス</td>
          <td><%# 会員ステータス %></td>
        </tr>

        <tr>
          <td></td>
          <td>
            <%= link_to "編集する", edit_admins_customer_path, class:"btn btn-success" %>
            <span class="offset-1">
              <%= link_to "注文履歴一覧を見る", admins_orders_path, class:"btn btn-primary" %>
            </span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>