<div class="container">
  <h3>注文情報</h3>
  <table class="table table-bordered">
    <tr>
      <th>注文日</th>
      <th><%= @order.created_at %></th>
    </tr>
    <tr>
      <th>配送先</th>
      <th>
        <%= @order.shipping_post_code %>
        <%= @order.shipping_adress %>
        <%= @order.shipping_name %>
      </th>
    </tr>
    <tr>
      <th>支払方法</th>
      <th><%= @order.payment_method %></th>
    </tr>
    <tr>
      <th>ステータス</th>
      <th><%= @order.payment_method %></th>
    </tr>
  </table>
  
  <h3>請求情報</h3>
  <table class="table table-bordered">
    <tr>
      <th>商品合計</th>
      <th><%= @order_detail.total_price %></th>
    </tr>
    <tr>
      <th>配送料</th>
      <th><%= @order.shipping_cost %></th>
    </tr>
    <tr>
      <th>ご請求額</th>
      <th><%= @order.total_payment %></th>
    </tr>
  </table>
  
  <h3>注文内容</h3> 
  <table class="table table-bordered">
    <thead>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
    </thead>
    
    <tbody>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>
  </table>
</div>