<div class="container mb-5">
 <h2 class="mt-5">管理者ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group row justify-content-md-center mt-5">
    <%= f.label :"メールアドレス", class: 'col-md-2 col-form-label' %>
    <div class='col-md-5'>
     <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com",  autocomplete: "email", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row justify-content-md-center">
    <%= f.label :"パスワード", class: 'col-md-2 col-form-label' %>
    <div class='col-md-5'>
     <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
    </div>
  </div>


  <div class="action text-center">
    <%= f.submit "ログイン", class:'btn btn-primary m-3 w-25 -2' %>
  </div>

<% end %>
<%= render "admins/shared/links" %>
</div>

