<div class="row">
	<div class="col-md-2">
		<%= render 'items/sidebar', genres: @genres %>
	</div>

<div class="container">
  <h2 style="margin: 20px 0;">商品一覧(全<%= @items_all.count %>件)</h2>
	<div class="col-md-9 col-md-offset-1">
		<div class="product-card-content">


		<% @items.each do |item| %>
		<div class="col-md-3" style="padding-right: 0px; padding-left: 0px; margin: 10px 0;">
			<%= link_to item_path(item.id) do %>
				<%= image_tag item.image, size:"200x150" %><br>
				<%= item.name %>
				¥<%= item.price.to_s(:delimited, delimiter: ',') %>
			<% end %>
		<% end %>
		</div>
		</div>

		</div>
	</div>
	<div style="text-align: center;"><%= paginate @items %></div>
</div>

