<div class="container">
  <div class="row mr-3 d-flex">
    <h2 class="mx-5 mt-3 px-4 bg-light shadow">注文履歴詳細</h2>
  </div>
  <div class="col">
    <table class="table table-borderless">
      <tbody>

        <tr>
          <td class="font-weight-bold">購入者</td>
          <td><%= @customer.name_family %> <%= @customer.name_first %></td>
        </tr>

        <tr>
          <td class="font-weight-bold">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>

        <tr>
          <td class="font-weight-bold">配送先</td>
          <td><%= @order.shipping_adress %></td>
        </tr>

        <tr>
          <td class="font-weight-bold">支払方法</td>
          <% if @order.payment_method == 0 %>
            <td>クレジットカード</td>
          <% else %>
            <td>銀行振込</td>
          <% end %>
        </tr>

        <tr>
          <td class="font-weight-bold">注文ステータス</td>
          <td><%= form_for (@order), url: admins_order_path(@order) do |f| %>
                <%= f.select :order_status, [["入金待ち", "入金待ち"], ["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]], class: "form-control" %>
                <%= f.submit "更新", class: "btn btn-success offset-1" %>
              <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>

        <% @order_details.each do |order_detail| %>
          <tbody>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.price * 1.1).floor %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.item.price * order_detail.amount * 1.1).floor %></td>
            <td>
              <%= form_for (order_detail), url: admins_item_path(order_detail, order_id: @order.id) do |f| %>
                <%= f.select :item_status, [["着手不可", "着手不可"], ["製作待ち","製作待ち"], ["製作中","製作中"], ["製作完了","製作完了"]] %>
                <%= f.submit "更新", class: "btn btn-success btn-sm ml-3" %>
              <% end %>
            </td>
          </tbody>
        <% end %>
      </table>
    </div>

    <div class="col-sm-3">
      <table class="table table-borderless align-self-end">
        <tbody>
          <tr>
            <td class="font-weight-bold">商品合計</td>
            <td><%= @items_total_price %></td>
          </tr>

          <tr>
            <td class="font-weight-bold">送料</td>
            <td><%= @order.shipping_cost %></td>
          </tr>

          <tr>
            <td class="font-weight-bold">請求合計金額</td>
            <td class="font-weight-bold"><%= @order.total_payment %></td>
          </tr>
        </tbody>
      </table>

    </div>
    </div>
</div>